<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Llistat</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body>
<table class="table table-responsive">
<thead>
<tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Email</th>
    <th>Telèfon</th>
    <th>Directiu</th>
</tr></br>
</thead>
<tbody>
<tr class="list-group" th:each="emp : ${llistaEmpleats}">
    <td th:text="${emp.id}">id</td>
    <td th:text="${emp.nom}">nom</td>
    <td th:text="${emp.email}">e@mail.com</td>
    <td th:text="${emp.telefon}">012345678</td>
    <td><a th:href="@{'/empleats/edit'(id=${emp.id},nom=${emp.nom},email=${emp.email},telefon=${emp.telefon})}">Editar</a></td>
    <td><a th:href="@{'/empleats/eliminar'(id=${emp.id})}">Eliminar</a></td></br>
</tr>
</tbody>
</table>
<div style="text-align: -webkit-center">
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sortir (Sign Out)"/>
</form>
</div>
</body>
</html>